@import url("https://fonts.cdnfonts.com/css/general-sans");
@import "tailwindcss";

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #dfdff0;
  font-family: "General Sans", sans-serif;
}

// fonts
@font-face {
  font-family: "circular-web";
  src: url("/fonts/circularweb-book.woff2") format("woff2");
}

@font-face {
  font-family: "general";
  src: url("/fonts/general.woff2") format("woff2");
}

@font-face {
  font-family: "robert-medium";
  src: url("/fonts/robert-medium.woff2") format("woff2");
}

@font-face {
  font-family: "robert-regular";
  src: url("/fonts/robert-regular.woff2") format("woff2");
}

@font-face {
  font-family: "zentry";
  src: url("/fonts/zentry-regular.woff2") format("woff2");
}

.special-font b {
  font-family: "zentry";
  font-feature-settings: "ss01" on;
}

/* Tailwind CSS v4.1 Theme Variables */
@theme {
  /* Blue Colors */
  --color-blue-50: #dfdff0;
  --color-blue-75: #dfdff2;
  --color-blue-100: #f0f2fa;
  --color-blue-200: #010101;
  --color-blue-300: #4fb7dd;

  /* Violet Colors */
  --color-violet-300: #5724ff;

  /* Yellow Colors */
  --color-yellow-100: #8e983f;
  --color-yellow-300: #edff66;

  /* Background Colors */
  --color-background: var(--color-blue-50);
}

@utility mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@utility absolute-center {
  @applyabsolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
}

@utility hero-heading {
  @apply uppercase font-black text-5xl sm:right-10 sm:text-7xl md:text-9xl lg:text-[12rem];
}
