@import url("https://fonts.cdnfonts.com/css/general-sans") layer(base);

@import "tailwindcss";

@theme {
  --font-zentry: zentry, sans-serif;
  --font-general: general, sans-serif;
  --font-circular-web: circular-web, sans-serif;
  --font-robert-medium: robert-medium, sans-serif;
  --font-robert-regular: robert-regular, sans-serif;

  --color-blue-50: #dfdff0;
  --color-blue-75: #dfdff2;
  --color-blue-100: #f0f2fa;
  --color-blue-200: #010101;
  --color-blue-300: #4fb7dd;

  --color-violet-300: #5724ff;

  --color-yellow-100: #8e983f;
  --color-yellow-300: #edff66;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  body {
    @apply bg-[#DFDFF0] text-neutral-200 antialiased;
  }
}
@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }
}
@utility hero-heading {
  @apply uppercase font-zentry font-black text-5xl md:text-9xl lg:text-[12rem];
}

@utility flex-center {
  @apply flex justify-center items-center;
}
 @utility nav-hover-btn {
  @apply relative ms-10 font-general text-xs uppercase text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
} 


